<div class="slider" >
  <div class="slide" ng-repeat="image in images" ng-show="image.visible">
    <img ng-src="{{image.url}}" width="280" id="slideshow"/>
    <div id="image-title">{{image.title}}<div>
  </div>
  <div class="arrows-prev" ng-show="prevShow = currentIndex > 0">
    <a href="#" ng-click="prev()"><img src="images/left-arrow.png" /></a>
  </div>
  <div class="arrows-next" ng-show="nextShow = currentIndex < (images.length -1)">
    <a href="#" ng-click="next()" ><img src="images/right-arrow.png" /></a>
  </div>  
</div>